body{
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #F5E3C0;
}
.app-navbar{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  background: linear-gradient(to bottom, #D41212, #6C0202);
  ::v-deep .app-navitem{
    color: white;
    font-weight: bold ;
  }
}
.app-none{
  visibility: visible;
  @media (min-width: 992px) { visibility: hidden; }
}
.me{
  margin-right: 2rem;
}

.button-cart{
  width:100%;
  height:25%;
  background:#8CA93E;
  a{
    width:100%;
    height:100%;
  }
  &:hover{
  background:#1A4605;
  }
}
.button-text{
  display: none;
  @media (min-width: 768px) {
    font-size: 1rem;
    display: block;
  }
  @media (min-width: 992px) { font-size: 2.5rem; }
}
#section02{
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../image/chopping\ board.jpg) no-repeat center/cover;
  // background-attachment: fixed;
  .s2-bg{
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../image/S__3522563.jpg)no-repeat center/cover;
    background-attachment: fixed;
}
  position: relative;
  .black{
    background: black;
    position: absolute;
    color: white;
    border: 3px double rgb(243, 173, 23);
    box-shadow: 10px 10px 15px black;
    top: 43%;
    left: 50%;
    transform: translate(-50%);
    &:hover{
    box-shadow: 10px 10px 30px black;
    transition: .5s;
    }
    p{
      writing-mode: vertical-lr ;
    }
  }
}
// .black{
//   div{
//     color: white;
//     top: 100%;
//     width:95%;
//     opacity: 0;
//     text-align: center;
//     word-wrap:break-word;
//     background: rgba($color: #000000, $alpha: 0.5);
//   }
//   &:hover div{
//     opacity: 1;
//     transition: .5s;
//     top:50%;
//   }
// }
// .big{
//   transform:scale(1,1);
//   transition: all 1s ease-out;
//   &:hover{
//     transform:scale(1.1,1.1);
//   }
// }
#section04{
  height: 500px;
  background:linear-gradient(rgba(201, 228, 159, 0.3), rgba(255, 255, 255, 0.3));
}
.bg4{
  position: relative;
  .img4{
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 99;
    @media (min-width: 1700px) { top: -25%; }
  }
}

.footer{
  position: relative;
  .footer-text{
    font-size: 1.5rem;
    @media (min-width: 992px) { font-size: 2rem; }
  }
  .footer-img{
    position: absolute;
    right: 0;
    top: 55%;
  }
  .footer-img-text{
    color: #26B9A7;
    font-size: 1.3rem;
    @media (min-width: 992px) { font-size: 2rem; }
  }
}

.arrow-icon{
  display: none;
  position: absolute;
  @media (min-width: 1200px) {
    display: block;
  transition: 1s;
  /* position: absolute; */
  top: 90%;
  left: 45%;
  z-index: 99;
  opacity: 0.5;
  &:hover{
    opacity: 0.8;
  }
  }
}
#admin{
  margin-top: 100px;
  .aa{
    & a{
      color: #8CA93E;
    }
    .active{
      background-color: #8CA93E;
      color: #fff;
    }
  }
}

#admin-home{
  h1{
    color: #8CA93E;
  }
}
.btn-green{
  background-color: #8CA93E;
  color: #fff;
}